<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<p align="center">
ESTADO DO MARANHÃO<br/>
TRIBUNAL DE CONTAS DO ESTADO
</p>


<p>
[TIPO_CERTIDÃO] DOS LIMITES CONSTITUCIONAIS RELATIVOS À EDUCAÇÃO E À SAÚDE E DE OBSERVÂNCIA DOS LIMITES DAS DÍVIDAS
 CONSOLIDADA E MOBILIÁRIA, DE OPERAÇÕES DE CRÉDITO, INCLUSIVE POR ANTECIPAÇÃO DA RECEITA, DE INSCRIÇÃO EM RESTOS A
  PAGAR E DE DESPESA TOTAL COM PESSOAL
</p>
<p>
ÓRGÃO: PREFEITURA MUNICIPAL DE [NOME_MUNICIPIO]/MA<br/>
CNPJ: [CNPJ_MUNICIPIO]
</p>
<p align="justify">
Ressalvado o direito de o Tribunal de Contas do Estado do Maranhão (TCE/MA) considerar não fidedignas, no devido processo legal, as
 informações prestadas ao Sistema de Informações Contábeis e Fiscais do Setor Público Brasileiro (SICONFI), é certificado que o fiscalizado:<br/>

a. Aplicou [MDE]% na manutenção e desenvolvimento do ensino, [VERIFICA_MDE] exigência prevista no art. 25, § 1, IV, “b”,
 da Lei Complementar nº 101, de 4 de maio de 2000, combinado com o art. 212, caput, da Constituição Federal;<br/>


b. Destinou [FUNDEB_MAG]% ao pagamento dos profissionais do magistério da educação básica em efetivo exercício na rede pública,
 [VERIFICA_FUNDEB_MAG] exigência prevista no art. 25, § 1º, IV, “b”, da Lei Complementar nº 101, de 2000, combinado com o art. 60,
  XII, do Ato das Disposições Constitucionais Transitórias, incluído pela Emenda Constitucional nº 53, de 19 de dezembro de 2006;<br/>


c. Aplicou [ASPS]% em ações e serviços públicos de saúde, [VERIFICA_ASPS] exigência prevista no art. 25, § 1, IV, “b”,
 da Lei Complementar nº 101, de 4 de maio de 2000, combinado com o art. 198, § 2º, III, da Constituição Federal;<br/>


d. [VERIFICA_DIVIDA] o limite para a dívida consolidada líquida (art. 3º da Resolução do Senado Federal nº 40, de 20 de dezembro de 2001);<br/>


e. [VERIFICA_REGRA.OURO] operação de crédito acima do montante das despesas de capital (art. 167, III, da Constituição Federal);<br/>


f. [VERIFICA_OP.ARO] operação de crédito interna ou externa em montante global superior a 16% (dezesseis por cento) da
 Receita Corrente Líquida (art. 7º, I, da Resolução do Senado Federal nº 43, de 21/12/2001);<br/>


g. [VERIFICA_RP]


h. Comprometeu [DTP]% da receita corrente líquida com despesa total com pessoal, [VERIFICA_DTP] a exigência prevista na parte
 final do art. 25, § 1º, IV, “c”, combinado com o art. 20, III, “b” da Lei Complementar nº 101, de 2000;<br/>
 
 
</p>

</body>
</html>